@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .menu_icon {
  display: none;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.header .nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .nav_bar .logo {
  padding: 4px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-left: -11px;
}

.header .nav_bar #home_icon {
  font-size: 15px !important;
}

.header .nav_bar .Create_Your_Account {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  padding-top: 34px;
  padding-left: 33px;
  padding-bottom: 26px;
  padding-right: 2vw;
  background-color: #626262;
  font-size: 12px;
  color: white !important;
}

.header .nav_bar .Create_Your_Account span {
  position: relative;
}

.header .nav_bar .Create_Your_Account span::after {
  content: "Free";
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 10px;
  color: white;
  position: absolute;
  top: -13px;
  left: 0;
}

.header #header__links {
  position: absolute;
  top: 30px;
  right: 179px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header #header__links a {
  color: #626262;
  padding-right: 21px;
}

.header #header__links .header__links--items {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 11px;
}

.section1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("Assets/Rectangle.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Assets/Rectangle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 319px;
}

.section1__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 209px;
  position: relative;
  width: 100%;
  top: 70px;
}

.section1__h2 {
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #F3F3F3;
  bottom: 24px;
  left: 7px;
  margin: 0%;
}

.section1__title {
  position: relative;
  bottom: 44px;
  left: 8px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 29px;
  line-height: 29px;
  color: white;
  margin: 0;
}

.section1__title span {
  color: #d8b30d;
}

.section1 .section1_property-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: auto;
  position: relative;
  bottom: 3px;
  left: 5px;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
}

.section1 .section1_property-details::before {
  content: "Buy your Perfect Properties";
  position: absolute;
  bottom: 58px;
  left: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 14px;
  color: white;
  letter-spacing: -.5px;
}

.section1 #location {
  border: none;
  background: #F9F9F9;
  height: 38px;
  border-radius: 2px;
  text-align: center;
  margin-right: 5px;
  font-weight: 400;
  font-size: 11px;
  width: 175px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
}

.section1 #property_type {
  border: none;
  background: #F9F9F9;
  height: 38px;
  border-radius: 2px;
  text-align: center;
  margin-right: 5px;
  font-weight: 400;
  font-size: 11px;
  width: 175px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
}

.section1 #budget {
  border: none;
  background: #F9F9F9;
  height: 38px;
  border-radius: 2px;
  text-align: center;
  margin-right: 5px;
  font-weight: 400;
  font-size: 11px;
  width: 175px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
}

.section1 #search {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  border: none;
  background: #F9F9F9;
  height: 38px;
  border-radius: 2px;
  text-align: center;
  margin-right: 5px;
  font-weight: 400;
  font-size: 11px;
  width: 175px;
  color: white;
  background: #E53935;
  width: 112px;
  height: 38px;
}

.main_content {
  margin-top: 50px;
  margin-bottom: 48px;
}

.main_content .content_title {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-align: center;
  color: #3A3939;
}

.main_content .content_title span {
  position: relative !important;
  width: 5px;
}

.main_content .content_title span::before {
  position: absolute;
  content: " ";
  background: #E53935;
  display: block;
  width: 16px;
  height: 3px;
  bottom: 0px;
  left: 53%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.main_content .content_title span::after {
  position: absolute;
  content: " ";
  background: #5e5f5c;
  display: block;
  width: 16px;
  height: 3px;
  left: 46%;
  bottom: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.main_content h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 16px;
  text-align: center;
  margin-top: 22px;
  font-weight: 600;
}

.main_container {
  margin-left: 5vw;
  margin-right: 4vw;
}

.card {
  padding: 12px;
  position: relative;
  border-radius: 12px;
  border: 0.1px solid rgba(147, 140, 140, 0.13);
}

.card:hover {
  -webkit-box-shadow: 0px 0px 8px rgba(58, 57, 57, 0.24);
          box-shadow: 0px 0px 8px rgba(58, 57, 57, 0.24);
}

.card .card_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.card .img_top {
  position: absolute;
  right: 7px;
  top: -2px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.card .img_top2 {
  position: absolute;
  right: 78px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  top: -2px;
}

.card .fav_circle {
  position: absolute;
  bottom: 10px;
  right: 14px;
}

.card .fav_img {
  position: absolute;
  bottom: 15px;
  right: 21px;
  cursor: pointer;
}

.card .card_body {
  margin-top: 18px;
}

.card .card_body .card_title {
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -.5px;
  text-align: left;
  color: #3A3939;
  margin-bottom: 20px;
}

.card .card_body .card_text {
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 11px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #3A3939;
  margin: 5px 5px 5px 0px;
}

.card .card_body .card_text span {
  color: #626262;
}

.card .card_body .card_location {
  font-family: Nunito;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #626262;
  position: relative;
  left: 17px;
}

.card .card_body .card_location span {
  position: absolute;
  left: -20px;
  top: 2px;
  font-size: 17px !important;
}

.card .card_body .card_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card_body .card_footer .card_price {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-weight: 600;
  font-size: 13px;
  color: #3A3939;
}

.card .card_body .card_footer .card_button {
  background: #FCE7E7;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-family: Nunito;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0px;
  color: #E53935;
  border: none;
  padding: 8px 12px 8px 12px;
  border-radius: 2px;
}

.button--load_more {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  background: #FEF5E5;
  color: #EB9F24;
  font-size: 14px;
  line-height: 14px;
  border: #EB9F24 1px solid;
  padding: 9px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
  padding-left: 14px;
  padding-right: 18px;
  border-radius: 2px;
}

#content2 {
  margin-top: 56px;
}

.container3 {
  margin-top: 59px;
  background: #F8F8F8;
  padding: 56px 56px 75px 56px;
}

.container3_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: auto;
}

.container3_button::-webkit-scrollbar {
  display: none;
}

.container3_button button {
  border: none;
  margin-right: 4px !important;
  width: 97px;
  height: 34px;
  background: white;
  border-top: #eeeeee 1px solid;
  border-bottom: #626262 2px solid;
  font-family: Nunito;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #626262;
}

.container3 .container3_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container3_title {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #3A3939;
  text-align: center;
}

.container3_text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  width: 66%;
  font-size: 13px;
  line-height: 22px;
  text-transform: capitalize;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 25px;
}

#button1_description {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px 0px 0px 0px;
}

#button1_description .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  overflow: auto;
  padding-left: 0px;
}

#button1_description .list::-webkit-scrollbar {
  display: none;
}

#button1_description .list li {
  padding-top: 12px;
}

.container4 {
  background: #0D1B1E;
}

.container4_section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 56px;
  padding-bottom: 40px;
}

.container4_section1_title {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  color: white;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 16px;
}

.container4_section1_text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  color: #F3F3F3;
  text-align: center;
  width: 56%;
  margin-bottom: 22px;
}

.container4_section1_email {
  background: #0D1B1E;
  border: none;
  border-bottom: #D3D3D3 1px solid;
  position: relative;
  right: 76px;
  font-size: 13px !important;
  width: 200%;
}

.container4_section1 button {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  background: linear-gradient(265.6deg, #ECA539 -0.34%, #CE3D37 99.66%), #FCE7E7;
  color: white;
  border-radius: 2px;
  width: 118px;
  height: 34px;
  border: none;
  margin-top: 26px;
  font-size: 11px !important;
}

.container4 hr {
  color: white;
  opacity: .2;
}

.container4 #container4_div {
  padding-left: 4vw;
  padding-right: 4vw;
}

.container4_section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.6);
  padding-top: 38px;
}

.container4_section2 .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin-bottom: 10px;
}

.container4_section2 .address .address_1 {
  width: 44%;
}

.container4_section2 .address .address_2 {
  width: 44%;
  font-size: 12px;
  line-height: 22px;
}

.container4_section2 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 41%;
  margin-top: -18px;
}

.container4_section2 .info h3 {
  margin-bottom: -6px;
}

.container4_section2 h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: white;
}

.container4_section2 a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 15px;
  line-height: 15px;
  color: #F5F5F5;
  cursor: pointer;
}

.container4_section2 .address_2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: white;
  font-weight: 400;
}

.container4_section2 h3 a {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #626262;
  font-size: 12px !important;
  letter-spacing: -0.5px;
  color: white !important;
  font-weight: 400;
  line-height: 15px;
}

.container4_section2 h3 #legal {
  color: #F9A825 !important;
  font-size: 12px;
}

footer {
  background-color: #0D1B1E;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 4px;
}

footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.6);
  margin-left: 1.5vw;
  padding-top: 4px;
  padding-bottom: 4px;
}

footer .footer_content small {
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  color: #F5F5F5;
}

footer .footer_content .social {
  margin-left: 2px;
}

footer .footer_content .social a {
  margin-right: 11px;
}

footer .footer_content .social a img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (max-width: 800px) {
  .header {
    padding-left: 0%;
  }
  .header .nav_bar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 2vw;
  }
  .header .menu_icon {
    display: block;
    margin-top: 26px;
  }
  .header .logo {
    position: relative;
    right: -7%;
  }
  #header__links {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: none !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    background: white;
    top: 72px !important;
    z-index: 2;
    padding: 5px 5px 5px 12px;
    border-radius: 5px;
    left: 1px;
  }
  .Create_Your_Account {
    padding-left: 10px !important;
    padding-bottom: 20px;
    font-size: 10px !important;
  }
}

@media (min-width: 573px) and (max-width: 790px) {
  .section1_property-details {
    background-color: transparent !important;
    bottom: 51px !important;
  }
  .section1_property-details #search {
    position: absolute;
    top: 56px;
    right: 223px;
  }
}

@media (max-width: 750px) {
  .address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .address .address_1 {
    width: 75% !important;
  }
  .address .address_2 {
    width: 75% !important;
  }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
}

@media (max-width: 573px) {
  .section1__content {
    height: 156px !important;
  }
  .section1__h2 {
    bottom: 29px;
  }
  .section1__title {
    margin-top: 17px;
    text-align: center;
  }
  .section1_property-details {
    background-color: transparent !important;
    position: relative;
  }
  .section1_property-details::before {
    left: 91px !important;
  }
  #budget {
    position: absolute;
    top: 56px;
    right: 100px;
  }
  #search {
    position: absolute;
    top: 104px;
    right: 133px;
  }
  .footer_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container4_section1_email {
    width: 100% !important;
    position: static;
  }
}

@media (max-width: 641px) {
  .container3_button {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 405px) {
  .section1__content {
    top: 40px !important;
  }
  .section1_property-details {
    bottom: 25px !important;
  }
  .section1_property-details::before {
    left: 13px !important;
  }
  #property_type {
    position: absolute;
    top: 55px;
    right: 7px;
  }
  #budget {
    top: 101px !important;
    right: 7px;
  }
  #search {
    top: 151px;
    right: 40px;
  }
}
/*# sourceMappingURL=style.css.map */